
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Foundation 5</title>

	<script type="text/javascript">
	//<![CDATA[
	try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:1487720919,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"5e6775794f3102d3d831dc5e765d5ff2",petok:"58a2989c0771ca89ba349e209e8f09a9a71f0d3e-1488485496-1800",zone:"zurb.com",rocket:"m",apps:{}}];document.write('<script type="text/javascript" src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=f2befc48d1/cloudflare.min.js"><'+'\/script>');}}catch(e){};
	//]]>
	</script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel='stylesheet' type='text/css'>
	 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body>

<div class="sub-body">
	<div class="row">
		<div class="large-12 columns">
			<h1>Legislation Poetry Generator</h1>
			<hr/>
		</div>
	</div>
 
 
	<div class="row">
 
		<div class="large-9 columns" role="content">
			<article>
				<h3>Generated Poem:</h3>
				<div class="row">
					<div class="large-6 columns">
					<% @poem.each do |line| %>
						<p><%= line %></p>
					<% end %>
					</div>
					<div class="large-6 columns">
						<img src="https://placehold.it/336x280&text=[img]"/>
					</div>
				</div>
			</article>
			<hr/>
			<article>
				<h3><a href="#">Legislative Language Sources:</a></h3>
				<div class="large-12 columns">
					<% @legislation.uniq.each do |line| %>
						<% line.uniq.each do |word| %>
							<p><strong><%= word[:word] %></strong> was found in <a href = <%= "#{word[:bill]['link']}" %> ><%= word[:bill]['link'] %></a></p>
						<% end %>
					<% end %>
				</div>
			</article>
		</div>
 
 
		<aside class="large-3 columns">
			<div class="panel">
				<p>Thank you for your patience during loading.  Natural Language Processing takes time!</p>
				<a href="#">Read More &rarr;</a>
			</div>
		</aside>
 
	</div>
 
 
	<footer class="row">
		<div class="large-12 columns">
		<hr/>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
	<script>
    	$(document).foundation();
  	</script>
</div>
</body>
</html>
